/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Exemplo para a versão Itálica da sua fonte (se você tiver um arquivo separado para o itálico) */
@font-face {
  font-family: 'Inter'; /* Mesmo nome de família, mas estilo diferente */
  src: url('assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic; /* Para a versão itálica */
  font-display: swap;
}

@theme {
  --color-zinc-925: oklch(17.55% 0.0055 285.854);;
}

html, body, app-root {
  height: 100%;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif; /* Use o nome que você definiu acima */
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da viewport */

  .auth-card{
    width: 400px; /* Largura fixa para o card */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */

  }
}

.selectable-jump {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // opcional, só pra dar destaque
  }
}
