@import "tailwindcss";
@import '@angular/cdk/overlay-prebuilt.css';


@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  .scrollbar-dark::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: rgb(63 63 70);
    border-radius: 9999px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  .scrollbar-dark::-webkit-scrollbar-track {
    background-color: rgb(24 24 27);
  }
}

@theme {
  --color-zinc-925: oklch(17.55% 0.0055 285.854);
}

:root{
  --s: 7rem;
  --c1: var(--color-emerald-800);
  --c2: var(--color-emerald-900);
  --c3: var(--color-emerald-950);
}

html, body, app-root {
  height: 100%;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif; /* Use o nome que você definiu acima */
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da viewport */

  .auth-card{
    width: 400px; /* Largura fixa para o card */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */

  }
}

.selectable-jump {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // opcional, só pra dar destaque
  }
}

/* Tema escuro para EditorJS */
:host-context(.dark-theme) .codex-editor,
.dark-theme .codex-editor {
  color: white;
}

/* Botão plus */
.ce-toolbar__plus {
  color: white !important;
}
.ce-toolbar__plus svg {
  fill: white !important;
}

/* Botão de configurações */
.ce-toolbar__settings-btn {
  color: white !important;
}
.ce-toolbar__settings-btn svg {
  fill: white !important;
}


.ce-popover__item-icon svg,
.ce-inline-tool svg {
  fill: white !important;
}


.bg-pattern-cubes {

  background: repeating-conic-gradient(
      from 30deg,
      transparent 0 120deg,
      var(--c3) 0 50%
    ) calc(var(--s)/2) calc(var(--s) * tan(30deg) / 2),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 50%
    );
  background-size: var(--s) calc(var(--s) * tan(30deg));
}
