@if (route() == null) {
  <button type="button" [ngClass]="getButtonClasses()" [style.--nav-active-color]="getActiveColorCss()" [attr.aria-label]="label()" [title]="label()">
    <div class="nav-button-content" [ngClass]="getContentClasses()">
      @if (icon()) {
        <div [ngClass]="getIconWrapperClasses()">
          <i [class]="icon()"></i>
        </div>
      }
      @if (showLabel()) {
        <span>{{ label() }}</span>
      }
    </div>
  </button>
} @else {
  <a [routerLink]="route()" [title]="label()" [attr.aria-label]="label()" [attr.aria-current]="rla.isActive ? 'page' : null" [queryParams]="params()" routerLinkActive="" #rla="routerLinkActive"
    [ngClass]="getButtonClasses(rla.isActive)" [style.--nav-active-color]="getActiveColorCss()">
    <div class="nav-button-content" [ngClass]="getContentClasses()">
      @if (icon()) {
        <div [ngClass]="getIconWrapperClasses()">
          <i [class]="icon()"></i>
        </div>
      }
      @if (showLabel()) {
        <span>{{ label() }}</span>
      }
    </div>
  </a>
}
